<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a8fc7f0af4094b4fbad8e806e31c7d2c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a8fc7f0af4094b4fbad8e806e31c7d2c" ></div>
        
</body>
<script>    
    
            var map_a8fc7f0af4094b4fbad8e806e31c7d2c = L.map(
                "map_a8fc7f0af4094b4fbad8e806e31c7d2c",
                {
                    center: [12.9172, 74.856],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5ea2134ee03a43649c5a4671466f2aff = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
            var circle_marker_d63d97ca326e4dbe80f6c11cee59ad2d = L.circleMarker(
                [12.9172, 74.856],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
            var marker_394ee48c2f51482a8a32fd885c455d94 = L.marker(
                [12.9172, 74.856],
                {}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
            var circle_marker_8c105db9fc924847b8227b60e0bfd5f8 = L.circleMarker(
                [28.6519, 77.2315],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
        var popup_7aa9b510b749410ca29746e717fbb141 = L.popup({"maxWidth": "100%"});

        
            var html_5a4512f4a3e64b9faf03a9563c032a9a = $(`<div id="html_5a4512f4a3e64b9faf03a9563c032a9a" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
            popup_7aa9b510b749410ca29746e717fbb141.setContent(html_5a4512f4a3e64b9faf03a9563c032a9a);
        

        circle_marker_8c105db9fc924847b8227b60e0bfd5f8.bindPopup(popup_7aa9b510b749410ca29746e717fbb141)
        ;

        
    
    
            var marker_0e7be701faa242ca88b4ff82024ca23a = L.marker(
                [28.6519, 77.2315],
                {}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
            var circle_marker_0a4cab37a2c545aa9f4f2454c6fb12f2 = L.circleMarker(
                [19.1167, 72.9833],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
        var popup_e9a4a3f282cf4cf69be23fc53df2a446 = L.popup({"maxWidth": "100%"});

        
            var html_a2364b264e92429596df064430676a82 = $(`<div id="html_a2364b264e92429596df064430676a82" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
            popup_e9a4a3f282cf4cf69be23fc53df2a446.setContent(html_a2364b264e92429596df064430676a82);
        

        circle_marker_0a4cab37a2c545aa9f4f2454c6fb12f2.bindPopup(popup_e9a4a3f282cf4cf69be23fc53df2a446)
        ;

        
    
    
            var marker_5bb14e8147594a24b6af27ca2fe5be09 = L.marker(
                [19.1167, 72.9833],
                {}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
            var circle_marker_aeff3829e8c44ccaaf1fe74887b811a5 = L.circleMarker(
                [19.1167, 72.9833],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
    
        var popup_ce9ee7f460b54bb3817ed55cb31399bd = L.popup({"maxWidth": "100%"});

        
            var html_2e9208ae0e2048e4a1c081e5c6dd745d = $(`<div id="html_2e9208ae0e2048e4a1c081e5c6dd745d" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
            popup_ce9ee7f460b54bb3817ed55cb31399bd.setContent(html_2e9208ae0e2048e4a1c081e5c6dd745d);
        

        circle_marker_aeff3829e8c44ccaaf1fe74887b811a5.bindPopup(popup_ce9ee7f460b54bb3817ed55cb31399bd)
        ;

        
    
    
            var marker_d1d6acf321d5405ba293f7fd243bc397 = L.marker(
                [19.1167, 72.9833],
                {}
            ).addTo(map_a8fc7f0af4094b4fbad8e806e31c7d2c);
        
</script>