{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <div id="home-sec">

   
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <center>
                   <span class="head-main" >TRAVEL.IO</span> 
                </center>
                <h3 class="head-last col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3">Safe and Fun Travel?? QQuote</h3>                 
            </div>
        </div>
    </div>
         </div>
 
{% endblock %}