<!DOCTYPE html>
<html>

<head>
  
  <title>Places</title>
  <style>
    /* internal css */
    body {
      background: #726363;
    }
  </style>
</head>

<body>



<iframe style=" position: fixed; top:  0; right : 0; width : 70%; height : 100vh" src="url_for('static',filename='route.html')" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
</iframe>

    
    <div style="position: fixed; left: 2.5em; top : 0;">
    <br>
    <br>
    <form>
    <label for="start">Start Location : </label>
    <input type="text" id="start" name="start" placeholder="Enter start location">
    <br><br>

    <label for="end">Final Location : </label>
    <input type="text" id="end" name="end" placeholder="Enter final location">
    <br><br>

    <input type="checkbox" id="p1" name="p1">
    <label for="p1">Tourist Attraction</label><br>
    <input type="checkbox" id="p2" name="p2">
    <label for="p2">Parks</label><br>
    <input type="checkbox" id="p3" name="p3">
    <label for="p3">Hotels</label><br>
    <input type="checkbox" id="p4" name="p4">
    <label for="p4">Restraunents</label><br>
    <input type="checkbox" id="p5" name="p5">
    <label for="p5">Cafes</label><br>
    <input type="checkbox" id="p6" name="p6">
    <label for="p6">Pubs</label><br>
    <br><br>

    <input type="submit" value="Submit">
    </form>

  </div>

</body>

<script>

</script> 
</html>